<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
   <article class="timeline">
    <h3>Pending Invitations:</h3>
    <ul class="pending">
      <% @pending.each do |invitation|%>
        <li><%= invitation.name %> </li>
      <% end %>
    </ul>
  </article>

   <article class="timeline">
    <h3>Invitations to answer:</h3>
    <ul class="to_answer">
      <% @to_answer.each do |invitation|%>
        <li><%= invitation.name  %> <span> wants to be your friend </span>
     
          <%= invite_or_pending_btn(invitation) %>
        
        </li>
      <% end %>

    </ul>
  </article>
</section>
